---
interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Full Stack Developer, Web, Portfolio, Developer, DevOps, Fullstack">
  
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <!--  <meta name="twitter:image" content="/icon.jpg"> -->
  
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <!--  <meta property="og:image" content="/icon.jpg"> -->
  <meta property="og:url" content="https://6loccee.github.io/">
  <meta property="og:type" content="website">

  <meta name="description" content={description}>
  
  
  <link rel="icon" href="/favicon.ico" media="(prefers-color-scheme:no-preference)">
  <link rel="icon" href="/favicon-dark.ico" media="(prefers-color-scheme:dark)">
  <link rel="icon" href="/favicon-light.ico" media="(prefers-color-scheme:light)">
  <title>{title}</title>
</head>